<%- include("partials/header")%>


<h1><%=title%></h1>
<p><%=content%></p>
<form action="/remove" method="post">
    <button type="submit" class="btn btn-danger" name="id" value="<%=id%>">Remove</button>
</form>
<%- include("partials/footer")%>